[Desktop Entry]
Version=1.0
Name=RMS_AUTO_US0001
Comment=Start RMS US0001
Exec=usr/bin/lxterminal --title=US0001 -e '/home/pi/source/Stations/US0001/US0001.sh'
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Application;

